.container-fluid {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

.navbar {
  background: #485d5e; }
  .navbar a {
    color: #dbdbdb;
    text-transform: uppercase; }

.navbar-collapse {
  justify-content: flex-end; }

.nav-item {
  margin-left: 20px;
  font-size: 14px; }

.arrow {
  height: 7px;
  width: 7px;
  border: solid #9aa9b3;
  border-width: 0 2px 2px 0;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 2px; }

.right {
  transform: rotate(-45deg); }

.logo {
  width: 50px;
  height: 50px;
  margin-right: 20px; }

.navbar-brand span {
  font-size: 20px;
  font-weight: bolder; }

.contact-nav {
  background: #141d22;
  height: 40px;
  width: 100%;
  color: #fff;
  padding-top: 10px; }

.contact-nav-content {
  display: flex;
  justify-content: flex-end; }

.social-media img {
  padding-bottom: 5px;
  margin-left: 10px; }

.header-1 {
  background: #a3d4d6;
  color: #fff;
  padding: 100px 0; }

.marine-title {
  font-size: 67px;
  font-weight: 100; }
  .marine-title span {
    font-weight: 700; }

.service {
  display: flex;
  color: #fff;
  align-content: center;
  align-items: center;
  margin-bottom: 40px; }
  .service img {
    height: 45px;
    width: 45px;
    margin-right: 20px; }

.service-1-text h4 {
  margin: 0; }

.service-1-text p {
  margin: 0; }

.header-2 {
  background: #00aab4;
  color: #fff;
  padding: 45px 0 65px 0; }

.header-2-service {
  padding-top: 60px; }

.header-2-content {
  text-align: center; }

.box {
  text-align: center; }
  .box img {
    margin-bottom: 45px;
    height: 75px; }
  .box p {
    font-size: 12px; }

.info-content {
  padding: 60px 0;
  display: grid;
  grid-template-columns: 1fr 200px;
  align-content: center;
  align-items: center; }
  .info-content h1 {
    font-size: 30px; }
  .info-content span {
    color: #008fd5; }
  .info-content img {
    margin-bottom: 5px; }

.info-btn {
  background: #008fd5;
  width: 200px;
  height: 60px;
  color: #fff;
  border-radius: 0; }

.posts {
  padding: 60px 0;
  background: #e4e6e7;
  font-size: 11px; }

.posts-content {
  display: grid;
  grid-template-columns: 1fr 100px 1fr; }

.posts-right {
  padding-top: 100px; }

.timeline-date {
  background: #23323a;
  width: 150px;
  height: 50px;
  color: #fff;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto; }
  .timeline-date p {
    margin: 0;
    font-size: 11px; }
  .timeline-date:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #23323a transparent transparent transparent; }

.post {
  max-width: 550px;
  height: auto;
  background: #fff;
  color: #73848e;
  position: relative;
  margin-top: 25px; }
  .post hr {
    border: 0.5px solid #e4e6e7;
    margin: 0; }

.post-info {
  display: grid;
  grid-template-columns: 60px 1fr;
  padding: 10px; }

.post-info-text p {
  margin-bottom: 5px; }

.post-info-text span {
  color: #008fd5; }

.admin {
  display: flex;
  align-items: center; }
  .admin p {
    margin: 0; }

.cube {
  border: 2px solid #73848e;
  height: 1px;
  width: 1px;
  margin: 0 10px; }

.timeline {
  width: 2px;
  height: auto;
  border: 2px solid #fff;
  display: grid;
  justify-self: center;
  position: relative;
  margin-top: 50px; }

.circle {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: -5px;
  left: -10px; }
  .circle .inner-circle {
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%; }

.circle-1 {
  top: 100px; }

.circle-2 {
  top: 420px; }

.circle-3 {
  top: 520px; }

.circle-4 {
  top: 940px; }

.circle-bottom {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-content: center;
  position: absolute;
  left: -5px;
  bottom: -5px; }

.post-content {
  padding: 10px; }
  .post-content img {
    width: 100%;
    height: auto; }

.post-title {
  display: flex;
  align-items: center;
  color: #008fd5;
  padding: 10px 0; }
  .post-title a {
    text-decoration: none; }
  .post-title p {
    font-size: 22px;
    font-weight: bold;
    margin: 0; }
  .post-title img {
    width: 25px;
    height: 20px;
    margin-right: 10px; }

.learn {
  font-size: 14px;
  display: flex;
  color: #008fd5;
  align-items: center; }
  .learn a {
    text-decoration: none; }

.learn-arrow {
  width: 10px;
  height: 10px;
  border-right: 1px solid #008fd5;
  border-bottom: 1px solid #008fd5;
  transform: rotate(-45deg); }

.post-img {
  background: url("../img/Composed-chain.png");
  width: 100%;
  min-height: 100px;
  background-size: cover;
  background-repeat: no-repeat; }
  .post-img p {
    font-size: 20px;
    font-weight: bold;
    color: #d2f0ff; }
  .post-img a {
    font-size: 12px;
    text-decoration: none;
    color: #5daed7; }

.post-img-right {
  background: url("../img/Composed.png");
  width: 100%;
  min-height: 100px;
  background-size: cover;
  background-repeat: no-repeat; }
  .post-img-right p {
    font-size: 20px;
    font-weight: bold;
    color: #d2f0ff; }
  .post-img-right a {
    font-size: 12px;
    text-decoration: none;
    color: #5daed7; }

.no-p {
  padding: 0; }

.load {
  display: grid;
  width: 100%;
  justify-content: center;
  padding-top: 50px; }

.load-more-btn {
  background: #008fd5;
  color: #fff;
  width: 150px;
  height: 45px;
  border-radius: 0; }

@media (max-width: 992px) {
  .posts-content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; }
  .timeline {
    display: none; }
  .posts-right {
    padding-top: 0; } }

.contact-section {
  padding: 60px 0; }

.feature h3 {
  font-weight: bold;
  padding-bottom: 30px; }

.feature-list {
  list-style-type: none;
  padding: 0; }

.feature-item {
  background: #23323a;
  width: 200px;
  height: 70px;
  border-bottom: 1px solid #394d58;
  display: grid;
  grid-template-columns: 50px 1fr;
  color: #fff;
  font-size: 11px;
  align-content: center;
  align-items: center;
  padding: 0 20px;
  text-align: left; }
