@import url("https://fonts.googleapis.com/css?family=Open+Sans:800");
.container-fluid {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

.navbar {
  background: #485d5e; }
  .navbar a {
    color: #dbdbdb;
    text-transform: uppercase; }

.navbar-collapse {
  justify-content: flex-end; }

.nav-item {
  margin-left: 20px;
  font-size: 14px; }

.arrow {
  height: 7px;
  width: 7px;
  border: solid #9aa9b3;
  border-width: 0 2px 2px 0;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 2px; }

.right {
  transform: rotate(-45deg); }

.logo {
  width: 50px;
  height: 50px;
  margin-right: 20px; }

.navbar-brand span {
  font-size: 20px;
  font-weight: bolder; }

.contact-nav {
  background: #141d22;
  height: 40px;
  width: 100%;
  color: #fff;
  padding-top: 10px; }

.contact-nav-content {
  display: flex;
  justify-content: flex-end; }
  .contact-nav-content p {
    text-transform: uppercase; }

.social-media img {
  padding-bottom: 5px;
  margin-left: 10px; }

@media (max-width: 576px) {
  .contact-nav {
    height: auto; }
  .contact-nav-content {
    display: grid;
    justify-content: center;
    justify-items: center; }
  .social-media img {
    padding-bottom: 5px;
    margin: 5px; } }

.header-1 {
  background: #a3d4d6;
  color: #fff;
  padding: 100px 0; }

.marine-title {
  font-size: 67px;
  font-weight: 100;
  padding-bottom: 30px; }
  .marine-title strong {
    font-weight: 900;
    text-shadow: 3px 3px 5px #000; }

.service {
  display: flex;
  color: #fff;
  align-content: center;
  align-items: center;
  margin-bottom: 40px; }
  .service img {
    height: 45px;
    width: 45px;
    margin-right: 20px; }

.service-1-text h4 {
  margin: 0; }

.service-1-text p {
  margin: 0;
  color: #c3fbff;
  text-shadow: 3px 3px 5px #000; }

@media (max-width: 576px) {
  .header-1 {
    padding: 30px 0; } }

.header-2 {
  background: #00aab4;
  color: #fff;
  padding: 45px 0 65px 0; }

.header-2-service {
  padding-top: 60px; }

.header-2-content {
  text-align: center; }

.box {
  text-align: center; }
  .box img {
    margin-bottom: 45px;
    height: 75px; }
  .box p {
    font-size: 12px; }

@media (max-width: 576px) {
  .box {
    margin-bottom: 50px; }
    .box img {
      margin-bottom: 20px; } }

.info-content {
  padding: 60px 0;
  display: grid;
  grid-template-columns: 1fr 200px;
  align-content: center;
  align-items: center; }
  .info-content h1 {
    font-size: 30px; }
  .info-content span {
    color: #008fd5; }
  .info-content img {
    margin-bottom: 5px; }

.info-btn {
  background: #008fd5;
  width: 200px;
  height: 60px;
  color: #fff;
  border-radius: 0; }

@media (max-width: 768px) {
  .info-content {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center; }
    .info-content h1 {
      padding-bottom: 30px; } }

.posts {
  padding: 60px 0;
  background: #e4e6e7;
  font-size: 11px; }

.posts-content {
  display: grid;
  grid-template-columns: 1fr 100px 1fr; }

.posts-right {
  padding-top: 100px; }

.timeline-date {
  background: #23323a;
  width: 150px;
  height: 50px;
  color: #fff;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto; }
  .timeline-date p {
    margin: 0;
    font-size: 11px; }
  .timeline-date:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #23323a transparent transparent transparent; }

.post {
  max-width: 550px;
  height: auto;
  background: #fff;
  color: #73848e;
  position: relative;
  margin-top: 25px; }
  .post hr {
    border: 0.5px solid #e4e6e7;
    margin: 0; }

.post-info {
  display: grid;
  grid-template-columns: 60px 1fr;
  padding: 10px; }

.post-info-text p {
  margin-bottom: 5px; }

.post-info-text span {
  color: #008fd5; }

.admin {
  display: flex;
  align-items: center; }
  .admin p {
    margin: 0; }

.cube {
  border: 2px solid #73848e;
  height: 1px;
  width: 1px;
  margin: 0 10px; }

.timeline {
  width: 2px;
  height: auto;
  border: 2px solid #fff;
  display: grid;
  justify-self: center;
  position: relative;
  margin-top: 50px; }

.circle {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: -5px;
  left: -10px; }
  .circle .inner-circle {
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%; }

.circle-1 {
  top: 100px; }

.circle-2 {
  top: 420px; }

.circle-3 {
  top: 520px; }

.circle-4 {
  top: 940px; }

.circle-bottom {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-content: center;
  position: absolute;
  left: -5px;
  bottom: -5px; }

.post-content {
  padding: 10px; }
  .post-content img {
    width: 100%;
    height: auto; }

.post-title {
  display: flex;
  align-items: center;
  color: #008fd5;
  padding: 10px 0; }
  .post-title a {
    text-decoration: none; }
  .post-title p {
    font-size: 22px;
    font-weight: bold;
    margin: 0; }
  .post-title img {
    width: 25px;
    height: 20px;
    margin-right: 10px; }

.learn {
  font-size: 14px;
  display: flex;
  color: #008fd5;
  align-items: center; }
  .learn a {
    text-decoration: none; }

.learn-arrow {
  width: 10px;
  height: 10px;
  border-right: 1px solid #008fd5;
  border-bottom: 1px solid #008fd5;
  transform: rotate(-45deg); }

.post-img {
  background: url("../img/Composed-chain.png");
  width: 100%;
  min-height: 100px;
  background-size: cover;
  background-repeat: no-repeat; }
  .post-img p {
    font-size: 20px;
    font-weight: bold;
    color: #d2f0ff; }
  .post-img a {
    font-size: 12px;
    text-decoration: none;
    color: #5daed7; }

.post-img-right {
  background: url("../img/Composed.png");
  width: 100%;
  min-height: 100px;
  background-size: cover;
  background-repeat: no-repeat; }
  .post-img-right p {
    font-size: 20px;
    font-weight: bold;
    color: #d2f0ff; }
  .post-img-right a {
    font-size: 12px;
    text-decoration: none;
    color: #5daed7; }

.no-p {
  padding: 0; }

.load {
  display: grid;
  width: 100%;
  justify-content: center;
  padding-top: 50px; }

.load-more-btn {
  background: #008fd5;
  color: #fff;
  width: 150px;
  height: 45px;
  border-radius: 0; }

@media (max-width: 992px) {
  .posts-content {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center; }
  .timeline {
    display: none; }
  .posts-right {
    padding-top: 0; } }

@media (max-width: 360px) {
  .admin {
    font-size: 9px; } }

.contact-section {
  padding: 60px 0; }

.feature-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px; }

.feature {
  display: grid;
  grid-template-columns: 230px 1fr; }
  .feature h3 {
    font-weight: bold;
    padding-bottom: 30px; }

.feature-description {
  padding-top: 70px;
  font-size: 14px; }
  .feature-description h3 {
    padding: 20px 0;
    color: #008fd5; }

.feature-list {
  list-style-type: none;
  padding: 0; }

.feature-item {
  background: #23323a;
  width: 200px;
  height: 70px;
  border-bottom: 1px solid #394d58;
  display: grid;
  grid-template-columns: 50px 1fr;
  color: #fff;
  font-size: 11px;
  align-content: center;
  align-items: center;
  padding: 0 20px;
  text-align: left; }

.web-list {
  list-style-image: url("../img/icons/Layer 452@1X.png");
  padding-left: 25px; }

.web-item {
  padding-bottom: 10px; }

.contact {
  display: grid;
  grid-template-columns: 300px 1fr; }
  .contact form {
    padding-top: 70px;
    position: relative; }
    .contact form input {
      background: #fcfcfc;
      border: 1px solid #eceded;
      width: 100%;
      height: 45px;
      margin-bottom: 10px;
      padding: 0 20px;
      font-weight: bold; }
    .contact form textarea {
      background: #fcfcfc;
      border: 1px solid #eceded;
      width: 100%;
      height: 115px;
      margin-bottom: 20px;
      padding: 10px 20px;
      font-weight: bold; }
    .contact form button {
      width: 110px;
      height: 45px;
      font-size: 11px;
      font-weight: bold;
      border-radius: 0;
      color: #fff; }
      .contact form button:hover {
        color: #fff; }
    .contact form .btn-send {
      background: #008fd5; }
    .contact form .btn-clear {
      background: #23323a; }

.user {
  position: absolute;
  right: 20px;
  top: 80px; }

.mail {
  position: absolute;
  right: 20px;
  top: 140px; }

.map h3 {
  font-weight: bold;
  padding-bottom: 30px; }

.map-img {
  max-width: 270px;
  height: 295px;
  background: url("../img/Layer 463@1X.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  justify-content: center;
  align-content: center; }

@media (max-width: 1200px) {
  .feature-grid {
    grid-template-columns: 1fr; } }

@media (max-width: 992px) {
  .feature-grid {
    grid-template-columns: 1fr; } }

@media (max-width: 768px) {
  .contact {
    grid-template-columns: 1fr; } }

.gallery {
  padding-bottom: 50px; }
  .gallery h3 {
    font-weight: bold;
    padding-bottom: 30px; }

.project {
  width: 292px;
  cursor: pointer; }
  .project:hover .show-icons {
    display: flex; }
  .project:hover .project-title {
    background: #354a57; }

.project-img {
  width: 100%;
  height: 203px;
  background: url("../img/Layer 465@1X.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.show-icons {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center; }
  .show-icons img {
    margin: 5px;
    opacity: .5; }

.project-title {
  background: #2f424d;
  position: relative;
  color: #fff;
  font-size: 11px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; }
  .project-title p {
    margin: 0;
    color: #73848e;
    font-weight: bold; }
  .project-title:after {
    content: "";
    position: absolute;
    top: -20px;
    left: 30px;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent  transparent #2f424d transparent; }

.border-r {
  border-right: 1px solid #23323a; }

.project-heart {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center; }

@media (max-width: 992px) {
  .logos img {
    width: 80%; } }

.main-features-section {
  background: #3a8698; }

.main-features {
  text-align: center;
  padding-top: 40px;
  color: #fff; }
  .main-features p {
    padding: 30px 100px 50px 100px; }
  .main-features img {
    width: 80%;
    height: auto; }

@media (max-width: 992px) {
  .main-features p {
    padding: 40px 0; } }

.carousel-section {
  min-height: 120px;
  background: #008fd5; }

.twitter-icon {
  background: #00a0ef;
  width: 130px;
  height: 120px;
  display: grid;
  justify-content: center;
  align-content: center;
  position: relative; }
  .twitter-icon::after {
    content: "";
    position: absolute;
    top: 20px;
    right: -30px;
    margin-left: -5px;
    border-width: 30px;
    border-style: solid;
    border-color: #00a0ef transparent transparent transparent; }

.carousel-control-next-icon {
  position: absolute;
  top: 50px;
  right: 0; }

.carousel-control-prev {
  left: unset !important;
  right: 30px;
  width: 30px; }

.carousel-control-next {
  width: 30px; }

.widget-section {
  background: #19242a;
  padding: 40px 0; }

.widgets {
  color: #547e93;
  justify-content: space-between; }
  .widgets p {
    font-size: 11px;
    font-weight: bold;
    line-height: 20px; }
  .widgets h5 {
    padding-bottom: 30px; }

.marine {
  color: #547e93; }
  .marine img {
    padding-bottom: 0px; }

.marine-logo {
  display: flex;
  align-items: center;
  padding-bottom: 20px; }
  .marine-logo h3 {
    padding-left: 20px; }

.recent-posts hr {
  border: 0.5px solid #547e93; }

.date {
  display: flex;
  font-size: 11px; }
  .date p {
    margin: 0;
    font-weight: 700; }

.post-text i {
  color: #fff; }

.address,
.phone {
  display: grid;
  grid-template-columns: 30px 1fr; }
  .address img,
  .phone img {
    width: 20px;
    height: 30px;
    margin-top: 3px; }

.email {
  display: grid;
  grid-template-columns: 30px 1fr; }
  .email img {
    width: 25px;
    height: 15px;
    margin-top: 3px; }

.widget-form {
  width: 100%;
  position: relative; }
  .widget-form input {
    width: 100%;
    height: 40px;
    background: #23323a;
    border: none;
    color: #547e93;
    padding-left: 10px;
    padding-right: 40px;
    margin-bottom: 20px; }
  .widget-form img {
    position: absolute;
    top: 15px;
    right: 20px; }

.widget-social-media img {
  padding-bottom: 5px;
  margin-right: 10px; }
