.header-2 {
    background: $header-2;
    color: #fff;
    padding: 45px 0 65px 0;
}

.header-2-service {
    padding-top: 60px;
}

.header-2-content {
    text-align: center;
}

.box {
    text-align: center;
    img {
        margin-bottom: 45px;
        height: 75px;
    }
    p {
        font-size: 12px;
    }
}