.header-1 {
    background: $header-1;
    color: #fff;
    padding: 100px 0;
}

.marine-title {
    font-size: 67px;
    font-weight: 100;
    span {
        font-weight: 700;
    }
}

.service {
    display: flex;
    color: #fff;
    align-content: center;
    align-items: center;
    margin-bottom: 40px;
    img {
        height: 45px;
        width: 45px;
        margin-right: 20px;
    }
}

.service-1-text {
    h4 {
        margin: 0;
    }
    p {
        margin: 0;
    }
}