$navbar-bg: #485d5e;
$contact-nav-bg: #141d22;
$arrow-color: #9aa9b3;
$nav-item: #dbdbdb;
$icons: #93a6b0;
$header-1: #a3d4d6;
$header-2: #00aab4;
$info: #008fd5;
$posts-bg: #e4e6e7;
$tl-date: #23323a;
$post-text: #73848e;
$input-bg: #fcfcfc;
$main: #3a8698;
$widgets-bg: #19242a;
$widget-text: #547e93;